---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Chess </title>
    <link rel="stylesheet" href="{{site.url}}/{{site.css_dir}}/chess/style.css">
  </head>
  
  <body>
    <section>
      <table>
        <tr>
          <td class="casa casaBranca" linha="0" coluna="0"></td>
          <td class="casa casaPreta" linha="0" coluna="1"></td>
          <td class="casa casaBranca" linha="0" coluna="2"></td>
          <td class="casa casaPreta" linha="0" coluna="3"></td>
          <td class="casa casaBranca" linha="0" coluna="4"></td>
          <td class="casa casaPreta" linha="0" coluna="5"></td>
          <td class="casa casaBranca" linha="0" coluna="6"></td>
          <td class="casa casaPreta" linha="0" coluna="7"></td>
        </tr>
        <tr>
          <td class="casa casaPreta" linha="1" coluna="0"></td>
          <td class="casa casaBranca" linha="1" coluna="1"></td>
          <td class="casa casaPreta" linha="1" coluna="2"></td>
          <td class="casa casaBranca" linha="1" coluna="3"></td>
          <td class="casa casaPreta" linha="1" coluna="4"></td>
          <td class="casa casaBranca" linha="1" coluna="5"></td>
          <td class="casa casaPreta" linha="1" coluna="6"></td>
          <td class="casa casaBranca" linha="1" coluna="7"></td>
        </tr>
        <tr>
          <td class="casa casaBranca" linha="2" coluna="0"></td>
          <td class="casa casaPreta" linha="2" coluna="1"></td>
          <td class="casa casaBranca" linha="2" coluna="2"></td>
          <td class="casa casaPreta" linha="2" coluna="3"></td>
          <td class="casa casaBranca" linha="2" coluna="4"></td>
          <td class="casa casaPreta" linha="2" coluna="5"></td>
          <td class="casa casaBranca" linha="2" coluna="6"></td>
          <td class="casa casaPreta" linha="2" coluna="7"></td>
        </tr>
        <tr>
          <td class="casa casaPreta" linha="3" coluna="0"></td>
          <td class="casa casaBranca" linha="3" coluna="1"></td>
          <td class="casa casaPreta" linha="3" coluna="2"></td>
          <td class="casa casaBranca" linha="3" coluna="3"></td>
          <td class="casa casaPreta" linha="3" coluna="4"></td>
          <td class="casa casaBranca" linha="3" coluna="5"></td>
          <td class="casa casaPreta" linha="3" coluna="6"></td>
          <td class="casa casaBranca" linha="3" coluna="7"></td>
        </tr>
        <tr>
          <td class="casa casaBranca" linha="4" coluna="0"></td>
          <td class="casa casaPreta" linha="4" coluna="1"></td>
          <td class="casa casaBranca" linha="4" coluna="2"></td>
          <td class="casa casaPreta" linha="4" coluna="3"></td>
          <td class="casa casaBranca" linha="4" coluna="4"></td>
          <td class="casa casaPreta" linha="4" coluna="5"></td>
          <td class="casa casaBranca" linha="4" coluna="6"></td>
          <td class="casa casaPreta" linha="4" coluna="7"></td>
        </tr>
        <tr>
          <td class="casa casaPreta" linha="5" coluna="0"></td>
          <td class="casa casaBranca" linha="5" coluna="1"></td>
          <td class="casa casaPreta" linha="5" coluna="2"></td>
          <td class="casa casaBranca" linha="5" coluna="3"></td>
          <td class="casa casaPreta" linha="5" coluna="4"></td>
          <td class="casa casaBranca" linha="5" coluna="5"></td>
          <td class="casa casaPreta" linha="5" coluna="6"></td>
          <td class="casa casaBranca" linha="5" coluna="7"></td>
        </tr>
        <tr>
          <td class="casa casaBranca" linha="6" coluna="0"></td>
          <td class="casa casaPreta" linha="6" coluna="1"></td>
          <td class="casa casaBranca" linha="6" coluna="2"></td>
          <td class="casa casaPreta" linha="6" coluna="3"></td>
          <td class="casa casaBranca" linha="6" coluna="4"></td>
          <td class="casa casaPreta" linha="6" coluna="5"></td>
          <td class="casa casaBranca" linha="6" coluna="6"></td>
          <td class="casa casaPreta" linha="6" coluna="7"></td>
        </tr>
        <tr>
          <td class="casa casaPreta" linha="7" coluna="0"></td>
          <td class="casa casaBranca" linha="7" coluna="1"></td>
          <td class="casa casaPreta" linha="7" coluna="2"></td>
          <td class="casa casaBranca" linha="7" coluna="3"></td>
          <td class="casa casaPreta" linha="7" coluna="4"></td>
          <td class="casa casaBranca" linha="7" coluna="5"></td>
          <td class="casa casaPreta" linha="7" coluna="6"></td>
          <td class="casa casaBranca" linha="7" coluna="7"></td>
        </tr>

      </table>
    </section>

    <script src="{{site.url}}/{{site.js_dir}}/chess/script.js" charset="UTF-8"></script>
  </body>
</html>
