---
layout: default
---


<h1> Métodos Numéricos </h1>
<h2>
  Tentativa de planejamento
</h2>
<p>
  <ol>
    <li> Capítulo 1 (Numerical Algorithms): 11/12
      <ul>
        <li> Tipos de Erro
          <ul>
            <li> Erros do problema </li>
            <li> Erros de aproximação </li>
            <li> Erros de arredondamento </li>
          </ul>
        </li>
        <li> Propriedades de algoritmos
          <ul>
            <li> Acurácia </li>
            <li> Eficiência </li>
            <li> Robustez </li>
          </ul>
        </li>
        <li> Notação O </li>
      </ul>
    </li>
    <br>
    <li>Capítulo 2 (Roundoff Errors):  Se sobrar tempo
      <ul>
        <li> Representação dos números com ponto flutuante (livro IEEE) </li>
      </ul>
    </li>
    <br>
    <li>Capítulo 3 (Nonlinear Equations in One Variable): 11/12 - 15/12
      <ul>
        <li> Resolvendo Equações não-lineares
          <ul>
            <li> Método da Bissecção (ex 1, 2)</li>
            <li> Método do Ponto Fixo (ex 3, 4 + PSUB ex. 1)</li>
            <li> Método de Newton (ex 5 - 12 + P1 ex 1)</li>
            <li> Método Secante (ex 5 - 12)</li>
            <li> Velocidade de convergência</li>
          </ul>
        </li>
        <li> Minimização de Funções </li>
      </ul>
    </li>
    <br>
    <li>Capítulo 10 (Interpolação): 15/12 - 28/12
      <ul>
        <li> Interpolação por Monômios (ex 1 - 3)</li>
        <li> Interpolação de Lagrange (ex 4 - 6 PSUB ex 3)</li>
        <li> Diferenças Dividas e forma de Newton (ex 7 - 14)</li>
        <li> Polinômio Osculante (ex 21 - 25)
          <ul>
            <li> Interpolação Cúbica de Hermite </li>
            <li> Forma de Newton com derivadas </li>
          </ul>
        </li>
      </ul>
    </li>
    <br>
    <li>Capítulo 11 (Interpolação por Partes): 29/12 - 03/01
      <ul>
        <li> Interpolação Cúbica de Hermite por Partes (ex 1 - 4)</li>
        <li> Interpolação por Spline Cúbica (ex 5-9, P1 ex 3)</li>
      </ul>
    </li>
    <br>
    <li>Capítulo 14 (Diferenciação Numérica): 03/01 - 14/01
      <ul>
        <li>Derivação usando Série de Taylor (ex 1 - 3)</li>
        <li> Extrapolação de Richardson </li>
        <li> Derivação usando Polinômio de Lagrange </li>
      </ul>
    </li>
    <br>
    <li>Capítulo 15 (Integração Numérica): 15/01 - 21/01
      <ul>
        <li> Algoritmos Básicos de Quadratura
          <ul>
            <li> Regra Trapezoidal </li>
            <li> Regra de Simpson </li>
            <li> Regra do Ponto Médio </li>
          </ul>
        </li>
        <li> Integração Numérica Composta
          <ul>
            <li> Método Trapezoidal Composto </li>
            <li> Método de Simpson Composto </li>
            <li> Método do Ponto Médio Composto </li>
          </ul>
        </li>
      </ul>
    </li>
    <br>
  </ol>
</p>
<p>
  <h2> Links </h2>
  <ul>
    <li>
      <a href="https://www.ime.usp.br/~map2121/exercicios/int_int.pdf">
        Exercícios de integração e interpolação
      </a>
    </li>
  </ul>
</p>
