---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Campo Minado </title>
    <link rel="stylesheet" href="{{site.url}}/{{site.css_dir}}/minesweeper/style.css">
    <script src="{{site.url}}/{{site.js_dir}}/minesweeper/Game.js"></script>
  </head>
  <body>
    <div id="board">
    </div>

    <div id="newgame">
      <h3 id="newgameTitle"> Novo Jogo </h3>
      <div class="commands">
        <form>
          <input type="number" name="height" id="height_id" value="10" min="5" max="50" class="numberInput">
          <div id="versus"> X </div>
          <input type="number" name="width" id="width_id" value="10" min="5" max="50" class="numberInput">
        </form>
        <br>
        <form>
          <input type="button" value="Começar!" id="start_id" name="start">
        </form>
      </div>
    </div>

    <div id="endMessage" style="display: none">
      <h3 id="endMessageTitle"></h3>
      <div class="commands">
        <form>
          <input type="button" value="Jogar novamente" id="playAgain_id" name="playAgain">
        </form>
      </div>
    </div>

    <script src="{{site.url}}/{{site.js_dir}}/minesweeper/script.js"></script>
  </body>
</html>
