---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Slide </title>
    <link rel="stylesheet" href="{{site.url}}/{{site.css_dir}}/slidingpuzzle/style.css">
  </head>
  <body>
    <section>
      <div id="board"></div>
    </section>
    <script src="{{site.url}}/{{site.js_dir}}/slidingpuzzle/script.js"></script>
  </body>
</html>
