body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #202020;
    font-family: sans-serif;
    text-align: center;
}

#newgame, #endMessage {
    background: #F0F0F0;
    position: fixed;
    width: 40vmin;
    height: 40vmin;
    top: 50%;
    left: 50%;
    margin-top: -20vmin;
    margin-left: -20vmin;
    border: none;
    border-radius: 3vmin;
    text-align: center;
    color: black;
}

#newgameTitle, #endMessageTitle {
    font-size: 3vmin;
}

.numberInput {
    padding: 0;
    height: 4vmin;
    width: 40%;
    border: 1px solid grey;
    border-radius: 4px;
    text-align: center;
    font-size: 3vmin;
}

#versus {
    display: inline-block;
    text-align: center;
    width: 15%;
}

@media screen and (max-width: 1500px) {
    .numberInput, #versus {
        width: 100%;
    }
}

.commands {
    display: inline-block;
    width: 80%;
}

.commands input[type="button"] {
    width: 100%;
    background: #00D000;
    border: 0;
    border-radius: 5px;
    height: 4vmin;
}

#board {
    position: relative;
    display: inline-block;
    height: 95vmin;
    width: 95vmin;
    background: #C0C0C0;
    border: 0;
}

.cell {
    display: inline-block;
    position: relative;
    box-shadow: inset 0 0 1px gray;
    height: 100%;
}

.cell div {
    font-size: medium;
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    flex-direction: column;
    justify-content: center;
}
