---
layout: default
---
<div class="row">

  <!-- Blog Entries Column -->
  <div class="col-md-8">

    <h1 class="my-4">{{page.heading}}<br>
    </h1>
    <h2><small>{{page.secondary_text}}</small></h2>
    <br>
    {% for post in site.posts %}
    {% if post.type == page.type %}
    <!-- Blog Post -->
    <div class="card mb-4">
      {% if post.image %}
      <img class="card-img-top" src="{{site.url}}/{{site.images_dir}}/{{post.type}}/{{post.image}}" alt="Card image cap">
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{post.title}}</h2>
        <p class="card-text">{{post.excerpt}}</p>
        <a href="{{site.url}}/{{post.url}}" class="btn btn-primary">Ler Mais &rarr;</a>
      </div>
      <div class="card-footer text-muted">
	Postado em {{post.date | date: "%d/%m/%Y"}}
      </div>
    </div>
    {% endif %}
    {% endfor %}

    <!-- <\!-- Pagination -\-> -->
      <!-- <ul class="pagination justify-content-center mb-4"> -->
	<!--   <li class="page-item"> -->
	  <!--     <a class="page-link" href="#">&larr; Older</a> -->
	  <!--   </li> -->
	<!--   <li class="page-item disabled"> -->
	  <!--     <a class="page-link" href="#">Newer &rarr;</a> -->
	  <!--   </li> -->
	<!-- </ul> -->

  </div>

  <!-- Sidebar Widgets Column -->
  <div class="col-md-4">

    <!-- <\!-- Search Widget -\-> -->
      <!-- <div class="card my-4"> -->
	<!--   <h5 class="card-header">Search</h5> -->
	<!--   <div class="card-body"> -->
	  <!--     <div class="input-group"> -->
	    <!--       <input type="text" class="form-control" placeholder="Search for..."> -->
	    <!--       <span class="input-group-btn"> -->
	      <!--         <button class="btn btn-secondary" type="button">Go!</button> -->
	      <!--       </span> -->
	    <!--     </div> -->
	  <!--   </div> -->
	<!-- </div> -->

      <!-- Categories Widget -->
      {% if page.links %}
      <div class="card my-4">
	<h5 class="card-header">Links</h5>
	<div class="card-body">
          <div class="row">
            <!-- <div class="col-lg-6"> -->
              <ul class="mb-0">
		{% for link in page.links %}
		<li>
                  <a href="{{link.url}}">{{link.title}}</a>
		</li>
		{% endfor %}
              </ul>
              <!-- </div> -->
          </div>
	</div>
      </div>
      {% endif %}

      <!-- <\!-- Side Widget -\-> -->
	<!-- <div class="card my-4"> -->
	  <!--   <h5 class="card-header">Side Widget</h5> -->
	  <!--   <div class="card-body"> -->
	    <!--     You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers! -->
	    <!--   </div> -->
	  <!-- </div> -->

  </div>

</div>
<!-- /.row -->
