---
layout: default
---

<div class="row">

  <!-- Post Content Column -->
  <div class="col-lg-8">

    <!-- Title -->
    <h1 class="mt-4">{{page.title}}</h1>

    <!-- Author -->
    <hr>

    <!-- Date/Time -->
    <p>Postado em {{page.date | date: "%d/%m/%Y"}}</p>

    <!-- Preview Image -->
    <!-- {% if page.image %} -->
    <!-- <img class="img-fluid rounded" src="{{page.image}}" alt=""> -->
    <!-- {% endif %} -->

    <hr>


    <!-- Post Content -->
    {{content}}
    <a href="{{site.url}}/{{page.type}}" class="btn btn-primary">&larr; Voltar</a>
    <hr>
  </div>
</div>
<!-- /.row -->

