---
---
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{page.title}}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{site.url}}/{{site.css_dir}}/bootstrap/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{site.url}}/{{site.css_dir}}/blog/{{page.layout}}.css" rel="stylesheet">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{site.url}}">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
	{% for link in site.nav_links %}
          <!-- <li class="nav-item active"> -->
          <!--   <a class="nav-link" href="#">Home -->
          <!--     <span class="sr-only">(current)</span> -->
          <!--   </a> -->
          <!-- </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{{site.url}}/{{link.url}}">{{link.title}}</a>
          </li>
	  {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    {{content}}
  </div>

    <!-- <\!-- Footer -\-> -->
  <!-- <footer class="py-5 bg-dark"> -->
  <!--   <div class="container"> -->
  <!--     <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p> -->
  <!--   </div> -->
  <!--   <\!-- /.container -\-> -->
  <!-- </footer> -->


  <!-- Bootstrap core JavaScript -->
  <script src="{{site.url}}/{{site.js_dir}}/jquery/jquery.min.js"></script>
  <script src="{{site.url}}/{{site.js_dir}}/bootstrap/bootstrap.bundle.min.js"></script>

</body>

</html>
