---
layout: default
---

<!-- Jumbotron Header -->
<header class="jumbotron my-4">
  <h1 class="display-3">{{site.title}}</h1>
  <p class="lead">{{site.description}}</p>
  <!-- <a href="#" class="btn btn-primary btn-lg">Call to action!</a> -->
</header>

<div id="homepage_links_container">
  <div class="row" style="width: 80%; display: inline-block">
    {% for link in page.homepage_links %}
    <a href="{{link.link}}">
      <div class="btn btn-primary homepage_link_btn">
	<img src="{{site.url}}/{{site.icons_dir}}/{{link.icon}}">
	{{link.title}}
      </div>
    </a>
    {% endfor %}
  </div>
</div>

<!-- Page Features -->
<div class="row text-center">
  
  {% for card in page.cards %}
  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
      <!-- <img class="card-img-top" src="http://placehold.it/500x325" alt=""> -->
      <div class="card-body">
        <h4 class="card-title">{{card.title}}</h4>
        <p class="card-text">{{card.description}}</p>
      </div>
	{% if card.link %}
      <a href="{% if card.link contains '://' %}{{card.link}}{% else %}{{site.url}}/{{card.link}}{% endif %}"
	 class="btn btn-primary">Ver Mais &rarr;</a>
	{% else %}
	<br>
	{% endif %}
    </div>
  </div>
  {% endfor %}

  <!-- /.row -->

</div>

