body {
    background-color: grey;
}

section {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 0;
    margin: 0;
    border-radius: 1%;
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
}

#board {
    position: relative;
    border: 10px solid black;
    margin: auto;
    border-radius: 1%;
    background-color: #777777;
    width: 80vmin;
    height: 80vmin;
}

.slideBlock {
    position: absolute;
    background-color: #FFFFDD;
    border: 1vmin solid red;
    border-radius: 1%;
    height: 18vmin;
    width: 18vmin;
    font-size: 10vmin;
    text-align: center;
    top: 0vmin;
    transition-duration: 0.1s;
}
