body {
    background: #DDEEAA;
}

section {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5vmax;
    right: 5vmax;
    top: 2vmax;
    bottom: 2vmax;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

table {
    position: relative;
    table-layout: fixed;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid black;
}

.casa {
    width: 10vmin;
    height: 10vmin;
    /* max-width: 5vmin; */
    /* max-height: 5vmin; */
    padding: 0;
    font-size: 6vmin;
    font-family: monospace;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
}

.casa:hover {
    background: #D0D0FF;
}

.casaPreta {
    background: grey;
}

.casaBranca {
    background: white;
}

.casaSelecionada {
    background: #FFD0D0;
    font-size: 4vmax;
}

.casaPossivel.casaBranca {
    background: #D0FFD0;
}

.casaPossivel.casaPreta {
    background: #A0DFA0;
}
