/*!
 * Start Bootstrap - Heroic Features (https://startbootstrap.com/template-overviews/heroic-features)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-heroic-features/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
}

.display-3 {
    font-size: 2rem;
}

header {
    height: 10em;
}

#homepage_links_container {
    width:100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 3em;
}

#homepage_links_container .btn {
    background: #C0C0C0;
    color: black;
    border: 0;
}

.homepage_link_btn {
    margin: 1em;
    height: 3em;
}

.homepage_link_btn img {
    height: 2em;
    width: auto;
}
